<h1><%= @survey_topic.topic() %></h1>

<form action="/questions" method="post">
  <input id="survey_topic_id" name="survey_topic_id" type="hidden" value="<%= @survey_topic.id() %>">

  <label for="question">Question:</label>
  <input id="question" name="question" type="text">

  <button type="submit">Add question</button>
</form>
<hr>
<% if @survey_topic.questions().any?() %>
  <h3>Here are all the questions in this survey:</h3>

  <ul>
    <% @survey_topic.questions().each() do |question| %>
      <li><%= question.question() %> </li>
    <% end %>
  </ul>

  <% else %>
    <p>There are no questions in this survey!</p>
  <% end %>
<hr>

<hr>
  <h1>Update <%=@survey_topic.topic() %> </h1>

  <form action="/update_survey_topics/<%= @survey_topic.id() %>" method="post">
    <input name="_method" type="hidden" value="patch">
    <label for="update_survey_topic">Rename your survey:</label>
    <input id="update_survey_topic" name="update_survey_topic" type="text">

    <button type="submit">Update</button>
  </form>

  <!-- <form action="/update_survey_topics/<%= @survey_topic.id %>" method="post">
    <input name="_method" type="hidden" value="delete">
    <button type="submit" class="btn btn-danger">Delete Survey</button>
  </form> -->
